/* body {
  background-color: black;
  color: white;
  margin: 0;
} */
/* h1 {
  color: white;
  font-size: 5rem;
  font-family: "Space mono";
} */

:root {
  --textColor: #2c3e50;
  --backgroundColor: #f7dc6f;
  --menuTextColor: #ffffff;
  --menuTextHoverColor: #f9ca24;
  --menuBackgroundColor: #2c3e50;
}

html {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

h1 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.offsite-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  background-color: var(--menuBackgroundColor);
  color: white;
}

.site-container {
  padding-top: 3rem;
  padding-left: 3rem;
}

.offsite-is-open .offsite-container,
.offsite-is-open .site-container {
  transform: translateX(14rem);
}

/**
 * Menu button
 */
button {
  border: 2px solid currentColor;
}

button:hover,
button:focus,
.offsite-is-open button {
  background-color: var(--textColor);
  color: var(--backgroundColor);
  border-color: var(--textColor);
}

/**
 *  Navigation
 * -----------
 */
.nav {
  margin-top: 3rem;
}

.nav a {
  display: block;
  margin: 0;
  padding: 0.5rem 3rem;
  color: var(--menuTextColor);
  text-decoration: none;
}

.nav a:hover {
  background-color: #010b13;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--menuTextHoverColor);
}

.menu-button {
  border-radius: 5px;
}

.offsite-container-is-open .offsite-container,
.offsite-container-is-open .site-container {
  transform: translateX(14rem);
}
